# Site settings
title:       Maisa Solutions Blog
email:       contact@maisasolutions.com
author:      Maisa Solutions
description: "Maisa Solutions is your ideal IT partner offering various Information Technology Services and Products."
baseurl:     "" # the subpath of your site, e.g. /blog/
url:         "http://blog.maisasolutions.com"

# Google analytics
google_analytics:

# Optional features
animated:           true
show_related_posts: false
show_post_footers:  false

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname: maisasolutions

# Social icons
show_social_icons: 
github_username:
stackoverflow_id:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Post sharing icons
show_sharing_icons: false
share_text: 'Share this post!'
# Change to 'true' to enable individual icons
share_facebook: true
share_twitter: false
share_googleplus: false
share_linkedin: false
share_digg: false
share_tumblr: false
share_reddit: false
share_stumbleupon: false

# Build settings
markdown:     redcarpet
redcarpet:
  extensions: ['smart', 'tables', 'with_toc_data']
permalink:    pretty
paginate:     3
sass:
  compressed: true
